@model DataLayer.Date

@{
    ViewBag.Title = "Delete";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<h3>آيا ميخواهيد زمان @Model.DateName را حذف کنيد؟</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateName)
        </dd>

    </dl>
    </div>

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-danger" /> |
        </div>
    }
